CFG_DIR="${config_dir}"
VAULT_ADDR="${vault_address}"
VAULT_CA_MOUNT_PATH="${vault_ca_mount_path}"
VAULT_CA_ROLE="${vault_ca_role}"
VAULT_APPROLE_MOUNT_PATH="${vault_approle_mount_path}"
PKI_OWNER="${pki_owner}"